.styled_btn {
    background-color: #00386e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
}

    .styled_btn:hover {
        background-color: #24608D
    }

    .styled_btn:active {
        background-color: #001936;
       
       
    }
    .styled_btn:disabled {
        background-color: #DEDEDE;
    }


.image-btn {
    background-image: url('button-bg.png');
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.styled_searchfield {
    background-color: white;
    color: black;
    font-size:12px;
}


.styled_div {
   
    align-content: flex-start;
    display: inline-flex;
    margin: 15px;
    padding: 16px;
}

label {
    margin-left: 8px;
}

input {
    margin-left: 8px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 15px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

    th:nth-child(1),
    td:nth-child(1) {
        width: 25;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 25;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 10;
    }
    th:nth-child(3),
    td:nth-child(3) {
        width: 15%;
    }


.dialog_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}


.details_dialog {
    width: 400px;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


    .details_dialog h2 {
        margin-top: 0;
    }


    .details_dialog h3 {
        margin-top: 20px;
        margin-bottom: 8px;
    }


    .details_dialog p {
        margin: 5px 0;
    }


.dialog_buttons {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}